<div class="backgroud-gradient w-100">

    <div class="container">
        
        <div class=" col-12 card mb-5 mt-5 text-center">
                <div class="row">
                
                    <div class="col-12">
                            <fa class="fa mt-3"  size="5x" name="book"></fa>
                            <h2 class=" mt-2"><strong>Introdução a Ciência da Computação</strong></h2>
                            <h4 class="font-italic mb-4">Prova II - 01/10/2019</h4>
                    </div>
                  
                </div>
               
        </div>

        <div class="card mb-5">

                <h5 class="card-header"><strong>1ª Questão</strong></h5>

                <div class="card-body">
                        <h5 class="card-title">Com quantos mafagifos se faz um ninho de mafagafos?</h5>
                        <textarea  maxRows="20" maxlength="2000" autosize class="form-control" type="text" placeholder="Sua resposta..."></textarea>
                        <button style="text-align: right;" class="btn btn-primary mt-4">Confirmar Questão</button>
                </div>
        </div>

        <div class="card mb-5">

                <h5 class="card-header"><strong>2ª Questão</strong></h5>

                <div class="card-body">
                        <h5 class="card-title">Qual a velocidade da luz?</h5>
                        <textarea  maxRows="20" maxlength="2000" autosize class="form-control" type="text" placeholder="Sua resposta..."></textarea>
                        <button style="text-align: right;" class="btn btn-primary mt-4">Confirmar Questão</button>
                </div>
        </div>

        <div class="card mb-5">

                <h5 class="card-header"><strong>3ª Questão</strong></h5>

                <div class="card-body">
                        <h5 class="card-title">Com quantos Roger se troca uma lâmpada?</h5>
                        <select class="form-control">
                                <option value="default" selected>Nenhum</option>
                                <option value="a" >1</option>
                                <option value="b" >2</option>
                                <option value="c" >3</option>
                        </select>
                        <button style="text-align: right;" class="btn btn-primary mt-4">Confirmar Questão</button>
                </div>
        </div>

        <button style="text-align: right;" class="btn btn-success col-12 mt-2 text-center mb-4" (click)="finish()">Concluir Prova</button>
    </div>
</div>